@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">🐾</h2>

    <h3>Painel de Informação</h3>

    <p>

        Adopta-me é um site de internet que apresenta uma maneira simples de se adoptar ou anunciar para adopção um animal que tenha sido encontrado ou que esteja em risco de abandono. Através dos anúncios aqui colocados ajudamos animais que estejam para adopção a chegarem a quem os procure, criando assim oportunidades de integrar animais em risco.🐾
    </p>

    <p>

        Muitos animais em risco são adoptados e conseguem uma vida nova, encontrando uma casa e donos responsáveis e carinhosos: isto é muito bom para todos os envolvidos. Por outro lado, anualmente serão adquiridos milhares de animais, dos quais uma percentagem acaba por ser um dia abandonada, engrossando as fileiras de animais errantes e aumentando o problema. A adopção de um animal pode significar não só o salvar de uma vida, mas também um passo contra a questão do abandono de animais. Apresentar a adopção de animais abandonados como uma alternativa à sua compra em lojas de animais faz sentido em termos sociais e humanistas.
    </p>

    <p>

        Na Adopta-me acreditamos que proteger animais não é só uma questão de dinheiro ou de recursos, mas também de imaginação e organização e sobretudo de consciência. 🐾 E se protegemos e queremos bem a uns animais, como desviar o olhar e não ver outros: pense-se na forma como são tratados os animais que connosco coexistem no planeta, desde os que vivem junto a nós e que acarinhamos aos que são criados para comida vivendo em condições medonhas até ao seu abate; aos que por triste "espectáculo" são torturados ou maltratados em circos; aos que por "divertimento".
    </p>

    <p>

        Ponha a sua consciência a pensar também nestes animais.🐾
    </p>
</main>