@{
    ViewBag.Title = "🐾";
}
<main aria-labelledby="Tetle">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Contacta-nos</h3>

    <address>
        <br />
        <strong>Tel,</strong> 937545912<br />
                
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:adoptame@435gmail.com">adoptame@435gmail.com</a><br />
       
    </address>
</main>