@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Como Adoptar um Animal de Forma Responsável🐾</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p></p>
            <p></p>
            <img src="~/Foto/close-de-gatos.png" width="400" />
            <h2 id="gettingStartedTitle">Animais de Rua</h2>
            <p>
                A situação dos animais de rua é pior do que se imagina. Eles são transmissores de doenças, como Leptospirose e Raiva, hospedeiros de parasitas como pulgas e carrapatos, sujam a cidade, espalhando lixo e restos de alimentos, além das próprias excremento.🐾
            </p>
            <p>
                Muitos destes animais se tornam agressivos aos seres humanos e até a outros animais.
            </p>
            <p>Eles sentem fome, sede, frio, medo e dor. Estão em toda a parte, mas na maioria das vezes passam despercebidos. Perdidos ou abandonados, essa é a realidade de muitos cães e gatos.</p>
            <p>O número é muito maior que isso: em Luanda, são mais de 30 milhões de animais vivendo nas ruas. Além do sofrimento animal, isso representa risco à saúde pública: uma vez na rua, sem cuidados ou vacinação, estão suscetíveis a doenças como raiva ou leptospirose, que podem ser transmitidas a seres humanos.</p>
            <p>As pessoas acham que é só resgatar, 🐾 mas não é bem assim. Muitos dos animais chegam em situações críticas, desde atropelamentos a enfermidades caninas.</p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <p></p>
            <img src="~/Foto/Screenshot_5.png" width="400" height="269" />
            <h2 id="librariesTitle">Benefícios da Adopção</h2>
            <p>
                Adotar um animal de estimação traz consigo uma série de benefícios que vão além do simples ato de dar um lar a um companheiro peludo. Aqui estão algumas razões pelas quais a adoção é uma escolha valiosa:

            <p>
                Amor incondicional:
                Quando adotamos um pet, experimentamos um amor genuíno e sem restrições. Essa conexão dura para toda a vida! 🐾
            </p>
            <p>
                Benefícios para a saúde física e mental:
                A companhia de um animal reduz a solidão e melhora o bem-estar emocional.
                Tutores de pets têm menor pressão arterial e lidam melhor com o estresse.
                A adoção está associada a uma melhoria na saúde cardiovascular.
                Passeios regulares com cães incentivam a atividade física e o contato com a natureza.
            </p>
            <p>
                Benefícios para as crianças:
                Crianças com animais de estimação tendem a ter um estilo de vida mais saudável.
                O risco de desenvolver alergias é menor.
                A convivência com pets ensina responsabilidade e empatia.
            </p>
            <p>
                Facilita interações sociais com outras pessoas:
                Passear com seu pet cria oportunidades para conhecer outros tutores e fazer novos amigos.
            </p>
            <p>
                Salva vidas:
                Ao adotar, você dá uma segunda chance a um animal que precisa de um lar 🐾.
            </p>

        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <p></p>
            <img src="~/Foto/together.png" width="400" />
            <h2 id="hostingTitle">Partilhar a vida com um animal de estimação</h2>
            <p>Partilhar a casa com um amigo de 4 patas pode ser uma grande alegria. Cães, gatos ou outros animais de estimação oferecem uma lealdade incondicional, providenciam companhia e são óptimos para ajudar a “destressar”. Nada como fazer uns mimos e receber outros em troca para que um sorriso esboce na cara.</p>
            <p>Saiba que adoptar um animal de estimação é uma grande decisão. Cães e gatos requerem muita atenção e trabalho, 🐾 e um compromisso que pode durar mais de 15 anos! Ter um animal de estimação pode ser bom para a relação, pois são capazes de juntar um novo elemento à família, e de cuidarem de mais um elemento sem serem vocês.</p>
            <p>No entanto, esta decisão envolve uma grande responsabilidade e tal como não se abandona um elemento da família, o mesmo acontece com um animal de estimação. 🐾 Se não têm a certeza e sentem que não estão certos do compromisso que é ter um animal de estimação, então esqueçam a ideia.</p>

        </section>
    </div>
</main>